 .header{
     color: black;
    font-weight: lighter;
 }
 .introduction{
     padding: 5 px;
     border-style: solid;
     border-top: solid;
     border-bottom: none;
     border-left: none;
     border-right: none;
 }
 .picture-projects{
         background-color: none;
 } 
 .picture-one{
     background-color: none;
     width: 300px;
     height: 300px;
     display: inline-block;
     padding: 0px 40px 0px 40px;
     vertical-align: top;
     position: relative;


 }
 .picture-two{
    background-color: none;
    width: 300px;
    height: 300px;
    display: inline-block;
    padding: 0px 40px 0px 40px;
    margin-left: 80px;
    vertical-align: top;


 }
 .picture-three{
    background-color: none;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 80px;
    vertical-align: top;


 }
 .img-project1{
     height: 250px;
     width: 350px;
     float: left;
     margin-right: 20px;
     position: absolute;
 }

 .img-project2{
    height: 250px;
    width: 350px;
}

.img-project3{
    height: 300px;
    width: 300px;
}
.fa fa-facebook{
    padding: 10px;
    float: left;
    display: inline-block;
}
.fa fa-twitter{
    padding: 10px;
    float: left;
    display: inline-block;
}
    
.fa fa-instagram{
    padding: 10px;
    float: left;
    display: inline-block;

}
.icons{
    text-align: right;
    margin: 20px;
}
.intro{
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    vertical-align: 100px;

}
.aboutme-header{
    text-align: center;
    margin-top: 70px;
}
